[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = ">=1.7.3"
discord-pretty-help = ">=1.3.3"
rich = ">=12.0.0"
coloredlogs = ">=15.0.1"
DiscordUtils = ">=1.3.4"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "docker build -t \"trinity-v2-alpine\" ."
tag = "docker tag trinity-v2-alpine:latest stax124/trinity-v2:alpine"
push = "docker push stax124/trinity-v2:alpine"